#
# RTOS config
#
CONFIG_FREERTOS_HZ=1000
# end of RTOS config

#
# Bootloader config
#
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_BOOTLOADER_FACTORY_RESET=y
CONFIG_BOOTLOADER_DATA_FACTORY_RESET="nvs, rogo"
CONFIG_BOOTLOADER_HOLD_TIME_GPIO=5
# end of Bootloader config

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# end of Serial flasher config

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x10000
# end of Partition Table config

#
# Compiler options
#
CONFIG_COMPILER_DISABLE_GCC12_WARNINGS=y
# end of Compiler options

#
# Component config
#

#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# NimBLE Options
#
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_DEFAULT=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=0
CONFIG_BT_NIMBLE_MAX_CCCDS=0
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=5120
CONFIG_BT_NIMBLE_ROLE_CENTRAL=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_DYNAMIC_SERVICE=y
CONFIG_BT_NIMBLE_CRYPTO_STACK_MBEDTLS=n
# end of NimBLE Options

# end of Bluetooth

#
# BLE Mesh
#
CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_MEM_ALLOC_MODE_DEFAULT=y
CONFIG_BLE_MESH_NODE=y
CONFIG_BLE_MESH_PROVISIONER=n
CONFIG_BLE_MESH_PROV=n
CONFIG_BLE_MESH_PB_ADV=n
CONFIG_BLE_MESH_PB_GATT=n
CONFIG_BLE_MESH_PROXY=y
CONFIG_BLE_MESH_GATT_PROXY_SERVER=y
CONFIG_BLE_MESH_APP_KEY_COUNT=5
CONFIG_BLE_MESH_MODEL_KEY_COUNT=5
CONFIG_BLE_MESH_MODEL_GROUP_COUNT=5

#
# Support for BLE Mesh Foundation models
#
CONFIG_BLE_MESH_CFG_CLI=y
# end of Support for BLE Mesh Foundation models

#
# Support for BLE Mesh Client/Server models
#
CONFIG_BLE_MESH_GENERIC_ONOFF_CLI=y
CONFIG_BLE_MESH_LIGHT_CTL_CLI=y
CONFIG_BLE_MESH_LIGHT_HSL_CLI=y
CONFIG_BLE_MESH_GENERIC_SERVER=y
# end of Support for BLE Mesh Client/Server models

CONFIG_BLE_MESH_IV_UPDATE_TEST=y

# end of BLE Mesh

#
# Wireless Coexistence
#
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y
# end of Wireless Coexistence

#
# Wi-Fi
#
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_EXTRA_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=y
# end of Wi-Fi

#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="wile"

#
# SNTP
#
CONFIG_LWIP_SNTP_MAX_SERVERS=2
# end of SNTP

# end of LWIP

#
# mbedTLS
#
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CA_CERT=y
CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE=n
# end of mbedTLS

#
# ESP-MQTT Configurations
#
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_TASK_STACK_SIZE=7168
# end of ESP-MQTT Configurations

# end of Component config